# Node.js / General
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.DS_Store

# Frontend (React)
frontend/build/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# Backend (Node.js)
backend/node_modules/

# Logs
logs
*.log

# Operating System Files
.DS_Store
Thumbs.db

# IDE / Editor Folders
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw? # Vim swap files
